@import '../../styles/index';

html {
    overflow-y: scroll
}

.l-hypertext {
    overflow-y: hidden;
    max-width: 900px;
    margin: 120px auto;

    &__title {
        margin-bottom: 0;
    }

    &__subtitle {
        display: block;
    }

    &__text {
        margin-top: 40px;
        line-height: 1.6;
    }
}
